
*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body 
{
    background: #B8C1F6;
}

div.img
{
    display: flex;
    justify-content: center;
    align-items: center;
}

img
{
    text-align: center;
    width: 500px;
}

div.box
{
    width: 50%;
    margin: auto;
    font-size: 20px;
    margin-top: 50px;
    padding-top: 30px;
    border-bottom: black solid 1px;
    border-top: black solid 1px;
    padding-bottom: 30px;
}

h1
{
    font-weight: 800;
}

div.elv
{
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 20px;
    border-left: 1px black solid;
}

div.elv ul li
{
    list-style: none;
}
