*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body 
{
    background: #B8C1F6;
}

div.img
{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    text-align: center;
    width: 500px;
}

div.elv
{
    width: 50%;
    margin: auto;
    font-weight: 800;
    font-size: 20px;
}
