main button, .demo{
  text-align: center;
  color:aliceblue ;
  border-radius: 30px 30px 0px 0px;
  font-family:'Poppins';
  font-size: 36px;
  background-color: rgb(91, 118, 160);
  padding-left: 30px;
  padding-right: 30px;
  border-color: transparent;
}
.bouton{
  border-radius: 50px 50px 50px 50px;
  font-size: 18px;
  text-align: center;
  color:aliceblue ;
  text-decoration: none;
  font-family:'Poppins';
  font-size: 36px;
  background-color: rgb(91, 118, 160);
  padding-left: 30px;
  padding-right: 30px;
  border-color: transparent;
}
main h2{
  color:aliceblue;
  background-color: rgb(157, 176, 207);
  border-radius: 50px 50px 50px 50px;
  margin: 10px 10px 10px 10px;
  margin-inline:10px 10px 10px 10px ;
  font-family: 'Poppins';
  padding-left: 20px;
  padding-right: 15px;
  text-align: center;
  font-size: 22px;
  color: white;
}
main h1{
  text-align: center;
  font-family: 'Poppins';
  font-size: 36px;
  color: white;
  
}
main p{
  text-align: center;
  font-family: 'Poppins';
  font-size: 18px;
  color: white;
}
main .slider-container {
  max-width: 90%;
  min-width: 100%;
  position: relative;
  margin: auto;
  height: 500px;
  overflow: hidden;
  border: 3px solid transparent;
  background-color: aliceblue;
  }
main .menu label {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: rgb(91, 118, 160);
  border-radius: 50px;
  margin: 0 0.2em 1em;
  border: 1px solid transparent;
}
main .item{
  border: 1px solid transparent;
  width:100%;
  height: 100%;
  text-align: center;
}



[id^="slide"]:checked + .slide-img {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}
main .menu {
  position: absolute;
  left: 0;
  z-index: 11;
  width: 100%;
  bottom: 0;
  text-align: center;
  border: 1px solid transparent;
}
main .menu label:hover,.menu label:focus {
  background: #1c87c9;
}
main .logo{
  width: 100%;
  height: 100%;
  border-radius: 100px ;
  padding: 20px;
}
.slide-input{
  opacity: 0;
} 
main .container-flex{display: flex;}
main .justify-content-space-evenly{justify-content: space-evenly;}



main .container-flex-grow-1{
  flex-grow: 1em;
  border:1px solid transparent;
}
main .container-flex-grow-2{
  
  flex-grow: 2em;
  flex-direction: column;
  align-content: space-evenly;
  border:1px solid transparent;
}


.slide-img {
width: 100%;
height: 300px;
position: absolute;
top: 0;
left: 100%;
z-index: 10;
transition: left 0s 0.75s;
flex-direction: row;
border: 3px solid transparent;
}

.slide-img {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  transition: left 0s 0.75s;
  border: 3px solid transparent;
  background-color: rgb(66, 103, 136);
}

main
{
  height: 100vh ;
}