*
{
  padding: 0;
  margin: 0;
}

body{
  background: #93d9d9;
}

/* main{
  background-image: url("data/img/prix/aicp.png");
  background-size: auto;
} */

div.haut_page{
  background-color: black;
  width: 100%;
  height: 80px;
}

div.Titre{
  width: 40%;
  font-size: 200%;
  background-color: #b5e1e0;
  color: #F7CA47;
  text-align: center;
  border: thick solid #fbddc3;
  border-radius: 50px 50px 50px 50px;
  margin: auto;
  margin-bottom: 10%;
}
div.Titre:hover{
  background-color: #F7CA47;
  color: #b5e1e0;
  transition-duration: 0.25s;
}



div.P_Gauche{
  color: #fbddc3;
  margin-bottom: 150px;
  width: 80%;
  font-size:130%;
  height: 600px;
  background-color: #51aff5;
  border-radius: 0px 150px 30px 0px;
}

div.P_Droite{
  color: #b5e1e0;
  text-align: right;
  position: relative;
  right: 0px;
  left: 20%;
  margin-bottom: 150px;
  width: 80%;
  font-size:120%;
  height: 600px;
  background-color: #e3a45d;
  border-radius: 150px 0px 0px 30px;
}


div.G_shots_awards{
  margin: 1%;
  float: left;
  width: 38%;
  height: 96%;
  border-right: thick solid #e3a45d;
}
img.logo_shots{
  width: 550px;
  height: auto;
  margin-bottom: 50%;
  margin-top: 100px;
}

div.D_shots_awards{
  border-radius: 0px 150px 30px 0px;
  margin: 1%;
  float: right;
  width: 58%;
  height: 96%;
}

.prix_vfx{
  width: 750px;
  margin-top: 5%;
}

div.D_british_arrows{
  margin: 1%;
  float: right;
  width: 38%;
  height: 96%;
  border-left: thick solid #51aff5;
}

img.logo_british{
  width: 85%;
  height: auto;
  margin-top: 3%;
  margin-right: 5%;
}

div.G_british_arrows{
  border-radius: 150px 0px 0px 30px;
  margin: 1%;
  float: left;
  width: 58%;
  height: 96%;
}

.prix_british{
  transform: rotate(90deg);
  width: 450px;
  margin-right: 15%;
  margin-top: -6%;
}

div.G_clio_awards{
  margin: 1%;
  float: left;
  width: 38%;
  height: 96%;
  border-right: thick solid #e3a45d;
}
img.logo_clio{
  width: 500px;
  height: auto;
  margin-top: 100px;
}

div.D_clio_awards{
  border-radius: 0px 150px 30px 0px;
  margin: 1%;
  float: right;
  width: 58%;
  height: 96%;
}

img.spider{
  width: 700px;
  height: auto;
  right: 5%;
  left:0;
  margin-bottom: 0;
  margin-top: 50px;
}

div.D_detad_awards{
  margin: 1%;
  float: right;
  width: 38%;
  height: 96%;
  border-left: thick solid #51aff5;
}
img.logo_detad{
  width: 500px;
  height: auto;
  margin-bottom: 0;
  margin-top: 100px;
}

div.G_detad_awards{
  border-radius: 150px 0px 0px 30px;
  margin: 1%;
  float: left;
  width: 58%;
  height: 96%;
}
img.sumo{
  width: 700px;
  height: auto;
  right: 0;
  margin-bottom: 0;
  margin-top: 50px;
}

div.G_cannes_lions{
  margin: 1%;
  float: left;
  width: 38%;
  height: 96%;
  border-right: thick solid #e3a45d;
}

.prix_lions{
  width: 850px;
  margin-top: 6%;
}

div.D_cannes_lions{
  border-radius: 0px 150px 30px 0px;
  margin: 1%;
  float: right;
  width: 58%;
  height: 96%;
}
img.logo_lions{
  width: 500px;
  height: auto;
  margin-bottom: 0;
  margin-top: 100px;
}

div.D_aicp{
  margin: 1%;
  float: right;
  width: 38%;
  height: 96%;
  border-left: thick solid #51aff5;
}
img.logo_aicp{
  width: 450px;
  height: auto;
  margin-bottom: 0;
  margin-top: 40px;
}
div.G_aicp{
  border-radius: 150px 0px 0px 30px;
  margin: 1%;
  float: left;
  width: 58%;
  height: 96%;
}

img.reset{
  width: 700px;
  height: auto;
  right: 0;
  margin-bottom: 0;
  margin-top: 50px;
}






@media screen and (max-width: 1124px)
{
  /* logo */
  img.logo_shots
  {
    width: 275px;
    height: auto;
    margin-top: 30%;
  }
  img.logo_british
  {
    width: 250px;
    height: auto;
    margin-top: 5%;
    margin-right: 5%;
  }
  img.logo_clio
  {
    width: 275px;
    height: auto;
    margin-top: 25%;
  }
  img.logo_detad
  {
    width: 275px;
    height: auto;
    margin-top: 25%;
    margin-left: 5%;
  }
  img.logo_lions
  {
    width: 275px;
    height: auto;
    margin-top: 20%;
    margin-left: 4px;
  }
  img.logo_aicp
  {
    width: 275px;
    height: auto;
    margin-top: 12%;
    margin-left: 5%;
  }
  /* images */

  .prix_vfx{
    width: 400px;
    margin-top: 15%;
  }

  .prix_british{
    transform: rotate(90deg);
    width: 275px;
    margin-right: 15%;
    margin-top: -4%;
  }

  img.spider
  {
    width: 400px;
    height: auto;
  }
  img.sumo
  {
    width: 400px;
    height: auto;
  }

  .prix_lions{
    width: 425px;
    margin-top: 13%;
  }

  img.reset
  {
    width: 400px;
    height: auto;
  }

  /* principaux */

  div.Titre{
    width: 40%;
    font-size: 150%;
  }

  div.P_Gauche
  {
    margin-bottom: 50px;
    height: 400px;
    font-size:100%;
  }
  div.P_Droite
  {
    margin-bottom: 50px;
    height: 400px;
    font-size:100%;
  }
}
