main section div.bio
{
    background-color: rgb(27, 16, 81);
    width: 75%;
    height: 600px;
    margin: auto;

    display: flex;
    justify-content: center;;
    align-items: center;
}

main section div.bio div.pdpPDG
{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-left: 100px;
}

main section div.bio div.pdpPDG img
{
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

h2{

color: beige;
text-align: right;
margin-right: 10%;


}

video{
    max-width: 60%;
	height: auto;

}

video{

   
    float: left;
    margin: 0px 400px 0px 0px;
}

p{
    text-align: right;
    


}