body
{
    background-color: black;
}

/* CSS Partie PDG */

main
{
    margin-top: 50px;
}

main section div.bio
{
    background-color: rgb(27, 16, 81);
    width: 75%;
    height: 500px;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

}

main section div.bio div.pdpPDG
{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

main section div.bio div.pdpPDG img
{
    width: 400px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main section div.bio div.InfoPDG
{
    width: 60%;
    margin: 10px;
    color: white;
}

main section div.bio div.InfoPDG h1
{
    font-size: 80px;
    padding: 0px;
    margin: 0px;
}

main section div.bio div.InfoPDG h2
{
    font-size: 20px;
    margin-left: 25px;
    color:rgb(79, 57, 57)
}

main section div.bio div.InfoPDG div.info
{
    border-left: white solid 1px;
    margin: 25px;
    overflow: auto;
}

main section div.bio div.InfoPDG div.info p
{
    margin-top: 10px;
    margin-left: 25px;
    text-align: justify;
}

