body
{
    background-color:navy;
}

main section h3 {
    text-align: left;
    margin: 10px 10px 10px;
    color: beige;
    float: left;
}

main section h2 {
    text-align: left;
    margin: 10px 10px 10px;
    color: beige;
    float: left;
}

        /* Service 1 */
       
main section div.serv1 {
    width: 75%;
    height: 800px;
    margin: 0px 230px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

main section div.txt1 {
    margin: 10px 10px 10px;
    text-align: justify;
}

main section div.videoserv1 {
    border-radius: 0%;
    width: auto;
    height: 720px;
}

main section fieldset.txt1 
{
    text-align: left;
    margin: 10px 5px 10px;
    float:left;
    width: 60%;
    background: cadetblue;
}



        /* Service 2 */

main section div.serv2 {
    width: 75%;
    height: 800px;
    margin: 0px 230px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

main section div.txt2 {
    margin: 10px 10px 10px;
    text-align: left;
}

main section div.videoserv2 {
    border-radius: 0%;
    width: auto;
    height: 720px;
}

main section fieldset.txt2 
{
    text-align: left;
    margin: 10px 15px 10px;
    float:left;
    width: 0%;
    background: cadetblue;
}


        /* Service 3 */
main section div.serv3 {
    margin: 20px 200px 20px;
}
        
main section div.imgserv3 img {
    border-radius: 0%;
    width: 1200px;
    height: 600px;
}

main section div.serv3 {
    width: 75%;
    height: 800px;
    margin: 0px 230px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

main section div.txt3 {
    margin: 10px 10px 10px;
    text-align: justify;
}

main section div.videoserv3 {
    border-radius: 0%;
    width: auto;
    height: 720px;
}

main section fieldset.txt3 
{
    text-align: left;
    margin: 10px 15px 10px;
    float:left;
    width: 60%;
    background: cadetblue;
}



        /* Service 4 */

main section div.serv4 {
    margin: 20px 200px 20px;
}
main section div.imgserv4 img {
    border-radius: 0%;
    width: 1200px;
    height: 600px;
}
main section div.serv4 {
    width: 75%;
    height: 800px;
    margin: 0px 230px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

main section div.txt4 {
    margin: 10px 10px 10px;
    text-align: justify;
}

main section fieldset.img4 {
    width: 1200px;
    height: 603px;
}

main section fieldset.txt4 
{
    text-align: left;
    margin: 10px 15px 10px;
    float:left;
    width: 60%;
    background: cadetblue;
}



main section div.bio
{
    background-color: rgb(27, 16, 81);
    width: 75%;
    height: 600px;
    margin: auto;

    display: flex;
    justify-content: center;;
    align-items: center;
}


button {
    margin:auto;
    width: 520px;
    height: 80px;
    margin: auto;

}
