*
{
  padding: 0;
  margin: 0;
}

body{
  /* background: linear-gradient(to right,#ff6666,#ccffff); */
  background-color: thistle;
}

div.haut_page{
  background-color: black;
  width: 100%;
  height: 80px;
}


img.podium{
  width: 100%
}
div.podium{
  border-bottom: thick solid darkred;
}

div.Titre{
  color: Gold;
  text-align: center;
}


div.P_Gauche{
  color: gold;
  margin-bottom: 50px;
  width: 80%;
  height: 400px;
  background-color: #ff3333;
  border-radius: 0px 150px 30px 0px;
}

div.P_Droite{
  color: gold;
  text-align: right;
  position: relative;
  right: 0px;
  left: 20%;
  margin-bottom: 50px;
  width: 80%;
  height: 400px;
  background-color: #000080;
  border-radius: 150px 0px 0px 30px;
}


div.G_shots_awards{
  margin: 1%;
  float: left;
  width: 38%;
  height: 96%;
  border-right: thick solid darkred;
}
img.logo_shots{
  width: 550px;
  height: auto;
  margin-bottom: 50%;
  margin-top: 10%;
}

div.D_shots_awards{
  border-radius: 0px 150px 30px 0px;
  margin: 1%;
  float: right;
  width: 58%;
  height: 96%;
}

div.D_british_arrows{
  margin: 1%;
  float: right;
  width: 38%;
  height: 96%;
}

img.logo_british{
  width: 95%;
  height: auto;
  margin-bottom: 0;
  margin-top: 30%;
  margin-left: 5%;
}

div.G_british_arrows{
  border-radius: 150px 0px 0px 30px;
  margin: 1%;
  float: left;
  width: 58%;
  height: 96%;
}

div.G_clio_awards{
  margin: 1%;
  float: left;
  width: 38%;
  height: 96%;
  border-right: thick solid darkred;
}
img.logo_clio{
  width: 95%;
  height: auto;
  margin-bottom: 0;
  margin-top: 30%;
}

div.D_clio_awards{
  border-radius: 0px 150px 30px 0px;
  margin: 1%;
  float: right;
  width: 58%;
  height: 96%;
}

img.spider{
  width: 95%;
  height: auto;
  position: relative;
  right: 5%;
  left:0;
  margin-bottom: 0;
  margin-top: 15%;
}

div.D_detad_awards{
  margin: 1%;
  float: right;
  width: 38%;
  height: 96%;
}
img.logo_detad{
  width: 100%;
  height: auto;
  margin-bottom: 0;
  margin-top: 30%;
}

div.G_detad_awards{
  border-radius: 150px 0px 0px 30px;
  margin: 1%;
  float: left;
  width: 58%;
  height: 96%;
}
img.sumo{
  width: 95%;
  height: auto;
  position: sticky;
  right: 0;
  margin-bottom: 0;
  margin-top: 15%;
}

div.G_cannes_lions{
  margin: 1%;
  float: left;
  width: 38%;
  height: 96%;
  border-right: thick solid darkred;
}
div.D_cannes_lions{
  border-radius: 0px 150px 30px 0px;
  margin: 1%;
  float: right;
  width: 58%;
  height: 96%;
}

div.D_aicp{
  margin: 1%;
  float: right;
  width: 38%;
  height: 96%;
}
div.G_aicp{
  border-radius: 150px 0px 0px 30px;
  margin: 1%;
  float: left;
  width: 58%;
  height: 96%;
}

img.reset{
  width: 95%;
  height: auto;
  position: relative;
  right: 0;
  margin-bottom: 0;
  margin-top: 17%;
}







@media screen and (max-width: 1124px)
{
  /* logo */
  img.logo_shots
  {
    width: 275px;
    height: auto;
    margin-top: 30%;
  }
  img.logo_british
  {
    width: 275px;
    height: auto;
    margin-top: 30%;
    margin-left: 5%;
  }
  img.logo_clio
  {
    width: 275px;
    height: auto;
    margin-top: 30%;
  }
  img.logo_detad
  {
    width: 275px;
    height: auto;
    margin-top: 30%;
    margin-left: 5%;
  }
  /* images */
}
